# **Introduction to Dates & Time with pandas**

This jupyter notebook can be found on my GitHub account: https://github.com/mbonnemaison/Learning-Python
### **pandas** is a python library that facilitates data analysis organized in a table.

### Sources:
- Information to install pandas, introduce pandas and the user guide: https://pandas.pydata.org/pandas-docs/stable/getting_started/index.html
- Python for Data Analysis by Wes McKinney (2nd edition used here) - Chapter 5 (Introduction), Chapter 11 (Time Series)

## **Project presentation**
Detector placed at entrance of kitchen since December 1st recording 6 parameters:
- Humidity
- Brightness
- Temperature
- Movement (called Presence)
- UV
- Vibration (called Sabotage)

More information on this project here: https://github.com/mbonnemaison/adelego
### **Reading data from a csv file using pandas**

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("24h_2021-03-14.csv",  sep = '\t')

Link to user guide for **pd.read_csv()**: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html?highlight=read_csv#pandas.read_csv

In [3]:
data.head(10)

                  Date               Equipment Parameter         Value Unit
0  2021-03-14 00:10:00  5MultiSensor 6 (ZW100)  HUMIDITY  21,000000000    %
1  2021-03-14 01:10:00  5MultiSensor 6 (ZW100)  HUMIDITY  20,750000000    %
2  2021-03-14 03:10:00  5MultiSensor 6 (ZW100)  HUMIDITY            20    %
3  2021-03-14 03:25:00  5MultiSensor 6 (ZW100)  HUMIDITY            21    %
4  2021-03-14 03:40:00  5MultiSensor 6 (ZW100)  HUMIDITY            21    %
5  2021-03-14 03:55:00  5MultiSensor 6 (ZW100)  HUMIDITY            21    %
6  2021-03-14 04:10:00  5MultiSensor 6 (ZW100)  HUMIDITY            21    %
7  2021-03-14 04:25:00  5MultiSensor 6 (ZW100)  HUMIDITY            20    %
8  2021-03-14 04:40:00  5MultiSensor 6 (ZW100)  HUMIDITY            21    %
9  2021-03-14 04:55:00  5MultiSensor 6 (ZW100)  HUMIDITY            21    %

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436 entries, 0 to 435
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       436 non-null    object
 1   Equipment  436 non-null    object
 2   Parameter  436 non-null    object
 3   Value      436 non-null    object
 4   Unit       258 non-null    object
dtypes: object(5)
memory usage: 17.2+ KB

### **Data manipulations in pandas**
**Select columns**

In [5]:
data['Date']
#The output is a Series, i.e. a 1-column table

0      2021-03-14 00:10:00
1      2021-03-14 01:10:00
2      2021-03-14 03:10:00
3      2021-03-14 03:25:00
4      2021-03-14 03:40:00
              ...
431    2021-03-14 22:55:00
432    2021-03-14 23:10:00
433    2021-03-14 23:25:00
434    2021-03-14 23:40:00
435    2021-03-14 23:55:00
Name: Date, Length: 436, dtype: object

In [6]:
data[['Date', 'Value']]

                    Date         Value
0    2021-03-14 00:10:00  21,000000000
1    2021-03-14 01:10:00  20,750000000
2    2021-03-14 03:10:00            20
3    2021-03-14 03:25:00            21
4    2021-03-14 03:40:00            21
..                   ...           ...
431  2021-03-14 22:55:00             0
432  2021-03-14 23:10:00             0
433  2021-03-14 23:25:00             0
434  2021-03-14 23:40:00             0
435  2021-03-14 23:55:00             0

[436 rows x 2 columns]

**Select rows**

In [7]:
data.iloc[1:10]

                  Date               Equipment Parameter         Value Unit
1  2021-03-14 01:10:00  5MultiSensor 6 (ZW100)  HUMIDITY  20,750000000    %
2  2021-03-14 03:10:00  5MultiSensor 6 (ZW100)  HUMIDITY            20    %
3  2021-03-14 03:25:00  5MultiSensor 6 (ZW100)  HUMIDITY            21    %
4  2021-03-14 03:40:00  5MultiSensor 6 (ZW100)  HUMIDITY            21    %
5  2021-03-14 03:55:00  5MultiSensor 6 (ZW100)  HUMIDITY            21    %
6  2021-03-14 04:10:00  5MultiSensor 6 (ZW100)  HUMIDITY            21    %
7  2021-03-14 04:25:00  5MultiSensor 6 (ZW100)  HUMIDITY            20    %
8  2021-03-14 04:40:00  5MultiSensor 6 (ZW100)  HUMIDITY            21    %
9  2021-03-14 04:55:00  5MultiSensor 6 (ZW100)  HUMIDITY            21    %

In [9]:
data.loc[(data['Date'] > '2021-03-14 20:00:00') & (data['Parameter'] == 'HUMIDITY')]

                   Date               Equipment Parameter Value Unit
70  2021-03-14 20:10:00  5MultiSensor 6 (ZW100)  HUMIDITY    23    %
71  2021-03-14 20:25:00  5MultiSensor 6 (ZW100)  HUMIDITY    22    %
72  2021-03-14 20:40:00  5MultiSensor 6 (ZW100)  HUMIDITY    22    %
73  2021-03-14 20:55:00  5MultiSensor 6 (ZW100)  HUMIDITY    21    %
74  2021-03-14 21:10:00  5MultiSensor 6 (ZW100)  HUMIDITY    21    %
75  2021-03-14 21:25:00  5MultiSensor 6 (ZW100)  HUMIDITY    21    %
76  2021-03-14 21:40:00  5MultiSensor 6 (ZW100)  HUMIDITY    21    %
77  2021-03-14 21:55:00  5MultiSensor 6 (ZW100)  HUMIDITY    20    %
78  2021-03-14 22:10:00  5MultiSensor 6 (ZW100)  HUMIDITY    20    %
79  2021-03-14 22:25:00  5MultiSensor 6 (ZW100)  HUMIDITY    21    %
80  2021-03-14 22:40:00  5MultiSensor 6 (ZW100)  HUMIDITY    20    %
81  2021-03-14 22:55:00  5MultiSensor 6 (ZW100)  HUMIDITY    20    %
82  2021-03-14 23:10:00  5MultiSensor 6 (ZW100)  HUMIDITY    20    %
83  2021-03-14 23:25:00  5MultiSensor 6 (ZW100)  HUMIDITY    20    %
84  2021-03-14 23:40:00  5MultiSensor 6 (ZW100)  HUMIDITY    20    %
85  2021-03-14 23:55:00  5MultiSensor 6 (ZW100)  HUMIDITY    21    %

**Select cells**

In [11]:
data['Date'][5]

'2021-03-14 03:55:00'

**Sort values**

In [12]:
data.sort_values(by = ["Parameter"], ascending=True)

                    Date               Equipment   Parameter Value Unit
96   2021-03-14 05:10:00  5MultiSensor 6 (ZW100)  BRIGHTNESS     0  Lux
111  2021-03-14 08:55:00  5MultiSensor 6 (ZW100)  BRIGHTNESS    19  Lux
112  2021-03-14 09:10:00  5MultiSensor 6 (ZW100)  BRIGHTNESS    20  Lux
113  2021-03-14 09:25:00  5MultiSensor 6 (ZW100)  BRIGHTNESS    20  Lux
114  2021-03-14 09:40:00  5MultiSensor 6 (ZW100)  BRIGHTNESS    20  Lux
..                   ...                     ...         ...   ...  ...
374  2021-03-14 08:40:00  5MultiSensor 6 (ZW100)          UV     0  NaN
373  2021-03-14 08:25:00  5MultiSensor 6 (ZW100)          UV     0  NaN
372  2021-03-14 08:10:00  5MultiSensor 6 (ZW100)          UV     0  NaN
380  2021-03-14 10:10:00  5MultiSensor 6 (ZW100)          UV     0  NaN
435  2021-03-14 23:55:00  5MultiSensor 6 (ZW100)          UV     0  NaN

[436 rows x 5 columns]

In [ ]:
data.info()

**Count the different values in the column 'Parameter'**

In [13]:
data['Parameter'].value_counts()

UV             86
TEMPERATURE    86
HUMIDITY       86
BRIGHTNESS     86
SABOTAGE       46
PRESENCE       46
Name: Parameter, dtype: int64

## **Introduction to Time & Dates**
Some of the elementary data structures for working with date & time data are:

- **Timestamp** : specific instant in time
- **Timedelta**: Interval of time indicated by a start and end timestamp.

### **Timestamp**

***Timestamp*** is pandas equivalent of python’s datetime.datetime object and is interchangeable with it in most cases.

### **Convert strings to timestamps**
Strings can be converted to dates using **pd.to_datetime**.

Note: Information on format can be found here: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior)

In [14]:
mytimestamp = '2021/10/23 4:34:2'

In [15]:
mytimestamp

'2021/10/23 4:34:2'

In [16]:
type(mytimestamp)

str

In [17]:
mytimestamp = pd.to_datetime(mytimestamp)

In [18]:
mytimestamp

Timestamp('2021-10-23 04:34:02')

In [19]:
type(mytimestamp)

pandas._libs.tslibs.timestamps.Timestamp

In [20]:
pd.to_datetime('2021-02-19 22:45:56', format = '%Y-%m-%d')

Timestamp('2021-02-19 22:45:56')

In [21]:
pd.to_datetime('20210223232323')

Timestamp('2021-02-23 23:23:23')

### **Convert a list of dates from string to Timestamp**

In [22]:
date_list_str = ['2021-03-14', '2020-12-25', '2025-02-19']

In [23]:
date_list_str

['2021-03-14', '2020-12-25', '2025-02-19']

In [24]:
pd.to_datetime(date_list_str)

DatetimeIndex(['2021-03-14', '2020-12-25', '2025-02-19'], dtype='datetime64[ns]', freq=None)

### **Dealing with missing values**

In [25]:
date_list_str2 = ['2021-03-14', '2020-12-25', '2025-02-19', '2021-04-14', None]

In [26]:
date_list_str2

['2021-03-14', '2020-12-25', '2025-02-19', '2021-04-14', None]

In [27]:
pd.to_datetime(date_list_str2)

DatetimeIndex(['2021-03-14', '2020-12-25', '2025-02-19', '2021-04-14', 'NaT'], dtype='datetime64[ns]', freq=None)

**NaT** means Not a Time

### **Convert values in the "Date" column from string to Timestamp**

In [28]:
data.head(10)

                  Date               Equipment Parameter         Value Unit
0  2021-03-14 00:10:00  5MultiSensor 6 (ZW100)  HUMIDITY  21,000000000    %
1  2021-03-14 01:10:00  5MultiSensor 6 (ZW100)  HUMIDITY  20,750000000    %
2  2021-03-14 03:10:00  5MultiSensor 6 (ZW100)  HUMIDITY            20    %
3  2021-03-14 03:25:00  5MultiSensor 6 (ZW100)  HUMIDITY            21    %
4  2021-03-14 03:40:00  5MultiSensor 6 (ZW100)  HUMIDITY            21    %
5  2021-03-14 03:55:00  5MultiSensor 6 (ZW100)  HUMIDITY            21    %
6  2021-03-14 04:10:00  5MultiSensor 6 (ZW100)  HUMIDITY            21    %
7  2021-03-14 04:25:00  5MultiSensor 6 (ZW100)  HUMIDITY            20    %
8  2021-03-14 04:40:00  5MultiSensor 6 (ZW100)  HUMIDITY            21    %
9  2021-03-14 04:55:00  5MultiSensor 6 (ZW100)  HUMIDITY            21    %

In [30]:
data['Date']
#Series = 1-column table

0      2021-03-14 00:10:00
1      2021-03-14 01:10:00
2      2021-03-14 03:10:00
3      2021-03-14 03:25:00
4      2021-03-14 03:40:00
              ...
431    2021-03-14 22:55:00
432    2021-03-14 23:10:00
433    2021-03-14 23:25:00
434    2021-03-14 23:40:00
435    2021-03-14 23:55:00
Name: Date, Length: 436, dtype: object

In [33]:
myseries = pd.Series([1,2,3,4], name = 'Python')

In [34]:
myseries

0    1
1    2
2    3
3    4
Name: Python, dtype: int64

In [35]:
data['Date'] = pd.to_datetime(data["Date"])

In [36]:
data["Date"]

0     2021-03-14 00:10:00
1     2021-03-14 01:10:00
2     2021-03-14 03:10:00
3     2021-03-14 03:25:00
4     2021-03-14 03:40:00
              ...
431   2021-03-14 22:55:00
432   2021-03-14 23:10:00
433   2021-03-14 23:25:00
434   2021-03-14 23:40:00
435   2021-03-14 23:55:00
Name: Date, Length: 436, dtype: datetime64[ns]

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436 entries, 0 to 435
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       436 non-null    datetime64[ns]
 1   Equipment  436 non-null    object
 2   Parameter  436 non-null    object
 3   Value      436 non-null    object
 4   Unit       258 non-null    object
dtypes: datetime64[ns](1), object(4)
memory usage: 17.2+ KB

***Missing values in DataFrame...***

In [38]:
dataNaT = pd.read_csv("24h_2021-03-14_NaT.csv", sep = '\t')

In [39]:
dataNaT.head(10)

                  Date               Equipment Parameter         Value Unit
0                  NaN  5MultiSensor 6 (ZW100)  HUMIDITY  21,000000000    %
1                  NaN  5MultiSensor 6 (ZW100)  HUMIDITY  20,750000000    %
2                  NaN  5MultiSensor 6 (ZW100)  HUMIDITY            20    %
3                  NaN  5MultiSensor 6 (ZW100)  HUMIDITY            21    %
4                  NaN  5MultiSensor 6 (ZW100)  HUMIDITY            21    %
5  2021-03-14 03:55:00  5MultiSensor 6 (ZW100)  HUMIDITY            21    %
6  2021-03-14 04:10:00  5MultiSensor 6 (ZW100)  HUMIDITY            21    %
7  2021-03-14 04:25:00  5MultiSensor 6 (ZW100)  HUMIDITY            20    %
8  2021-03-14 04:40:00  5MultiSensor 6 (ZW100)  HUMIDITY            21    %
9  2021-03-14 04:55:00  5MultiSensor 6 (ZW100)  HUMIDITY            21    %

In [40]:
dataNaT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436 entries, 0 to 435
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       431 non-null    object
 1   Equipment  436 non-null    object
 2   Parameter  436 non-null    object
 3   Value      436 non-null    object
 4   Unit       258 non-null    object
dtypes: object(5)
memory usage: 17.2+ KB

In [41]:
dataNaT["Date"] = pd.to_datetime(dataNaT["Date"])

In [42]:
dataNaT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436 entries, 0 to 435
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       431 non-null    datetime64[ns]
 1   Equipment  436 non-null    object
 2   Parameter  436 non-null    object
 3   Value      436 non-null    object
 4   Unit       258 non-null    object
dtypes: datetime64[ns](1), object(4)
memory usage: 17.2+ KB

In [43]:
dataNaT.head(10)

                 Date               Equipment Parameter         Value Unit
0                 NaT  5MultiSensor 6 (ZW100)  HUMIDITY  21,000000000    %
1                 NaT  5MultiSensor 6 (ZW100)  HUMIDITY  20,750000000    %
2                 NaT  5MultiSensor 6 (ZW100)  HUMIDITY            20    %
3                 NaT  5MultiSensor 6 (ZW100)  HUMIDITY            21    %
4                 NaT  5MultiSensor 6 (ZW100)  HUMIDITY            21    %
5 2021-03-14 03:55:00  5MultiSensor 6 (ZW100)  HUMIDITY            21    %
6 2021-03-14 04:10:00  5MultiSensor 6 (ZW100)  HUMIDITY            21    %
7 2021-03-14 04:25:00  5MultiSensor 6 (ZW100)  HUMIDITY            20    %
8 2021-03-14 04:40:00  5MultiSensor 6 (ZW100)  HUMIDITY            21    %
9 2021-03-14 04:55:00  5MultiSensor 6 (ZW100)  HUMIDITY            21    %

In [ ]:
dataNaT["Date"][33]

## **Timedeltas**
Timedelta represents the temporal difference between two datetime objects.

In [46]:
pd.Timedelta(weeks = 1, days = 4, hours = 5)

Timedelta('11 days 05:00:00')

### **Timedelta operations**
**Add time to Timestamps**

In [47]:
ts = pd.to_datetime('2021/3/23 23:20:00') + pd.Timedelta(days=13)

In [48]:
ts

Timestamp('2021-04-05 23:20:00')

**Difference between Timestamps generates a Timedelta**

In [49]:
delta = pd.to_datetime('2021/3/23 23:20:00') - pd.to_datetime('2021/3/20 2:34:14')

In [50]:
delta

Timedelta('3 days 20:45:46')

**Adding Timedeltas**

In [51]:
td1 = pd.Timedelta(weeks = 3, days = 3, hours = 3)
td2 = pd.Timedelta(weeks = 1, days = 1, hours = 1)

In [52]:
td1+td2

Timedelta('32 days 04:00:00')

### **Convert strings to Timedelta**

In [53]:
pd.to_timedelta('45:53:23')

Timedelta('1 days 21:53:23')

## **Practice**

In [54]:
cities = pd.read_csv('top12.csv')

In [55]:
cities

          Cities         State  Population  Density(/sq mi) Incorporated
0    Los Angeles    California     3979576             8484     4/4/1850
1        Chicago      Illinois     2693976            11900     3/4/1837
2        Houston         Texas     2320268             3613     6/5/1837
3        Phoenix       Arizona     1680992             3120    2/25/1881
4   Philadelphia  Pennsylvania     1584064            11683   10/25/1701
5    San Antonio         Texas     1547253             3238     6/5/1837
6      San Diego    California     1423851             4325    3/27/1850
7         Dallas         Texas     1343573             3866     2/2/1856
8       San Jose    California     1021795             5777    3/27/1850
9         Austin         Texas      978908             3031   12/27/1839
10  Jacksonville       Florida      911507             1178     2/9/1832

In [ ]:
cities.info()

**Question 1**: How would you convert the Incorporated date from string to Timestamp?

In [56]:
cities['Incorporated'] = pd.to_datetime(cities['Incorporated'], format= '%m/%d/%Y')
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Cities           11 non-null     object
 1   State            11 non-null     object
 2   Population       11 non-null     int64
 3   Density(/sq mi)  11 non-null     int64
 4   Incorporated     11 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 568.0+ bytes

In [57]:
cities

          Cities         State  Population  Density(/sq mi) Incorporated
0    Los Angeles    California     3979576             8484   1850-04-04
1        Chicago      Illinois     2693976            11900   1837-03-04
2        Houston         Texas     2320268             3613   1837-06-05
3        Phoenix       Arizona     1680992             3120   1881-02-25
4   Philadelphia  Pennsylvania     1584064            11683   1701-10-25
5    San Antonio         Texas     1547253             3238   1837-06-05
6      San Diego    California     1423851             4325   1850-03-27
7         Dallas         Texas     1343573             3866   1856-02-02
8       San Jose    California     1021795             5777   1850-03-27
9         Austin         Texas      978908             3031   1839-12-27
10  Jacksonville       Florida      911507             1178   1832-02-09

**Question 2**: How many days between Philadelphia and Dallas incorporated dates?

In [68]:
cities['Incorporated'][7] - cities['Incorporated'][4]

Timedelta('56347 days 00:00:00')

## **Problems**
### **Problem 1: Timestamp limitation**
New York City was incorporated on September 2nd 1664. Convert this date into a Timestamp.

In [70]:
NYC = pd.to_datetime('9-2-1664')

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1664-09-02 00:00:00

Timestamp limitations: https://pandas-docs.github.io/pandas-docs-travis/user_guide/timeseries.html#timeseries-timestamp-limits

#### Python ***datetime*** module
Python provides the date and time functionality in the **datetime** module that contains three popular classes:

- **Date class**: to work with dates (day, month, year)
- **Time class**: to work with times (hours, minutes, seconds, microseconds)
- **Datetime class**: to work with components of both date and time

In [71]:
from datetime import datetime
NYC2 = datetime(1664,9,2)

In [72]:
NYC2

datetime.datetime(1664, 9, 2, 0, 0)

***Convert strings to datetime.datetime objects***

In [73]:
NYC3 = datetime.strptime('2/9/1664', '%d/%m/%Y')

In [74]:
NYC3

datetime.datetime(1664, 9, 2, 0, 0)

***Working with a list of dates***

In [75]:
date_list_str = ['2021-03-14', '2020-12-25', '2025-02-19']

In [76]:
[datetime.strptime(x, '%Y-%m-%d') for x in date_list_str]

[datetime.datetime(2021, 3, 14, 0, 0),
 datetime.datetime(2020, 12, 25, 0, 0),
 datetime.datetime(2025, 2, 19, 0, 0)]

In [78]:
cities2 = pd.read_csv('top12.csv')

In [79]:
[datetime.strptime(x, '%m/%d/%Y') for x in cities2['Incorporated']]

[datetime.datetime(1850, 4, 4, 0, 0),
 datetime.datetime(1837, 3, 4, 0, 0),
 datetime.datetime(1837, 6, 5, 0, 0),
 datetime.datetime(1881, 2, 25, 0, 0),
 datetime.datetime(1701, 10, 25, 0, 0),
 datetime.datetime(1837, 6, 5, 0, 0),
 datetime.datetime(1850, 3, 27, 0, 0),
 datetime.datetime(1856, 2, 2, 0, 0),
 datetime.datetime(1850, 3, 27, 0, 0),
 datetime.datetime(1839, 12, 27, 0, 0),
 datetime.datetime(1832, 2, 9, 0, 0)]

### **Problem 2: Time zone**
What time is it now?

In [ ]:
now = pd.to_datetime('now')

In [ ]:
now

In [ ]:
now_utc = now.tz_localize('UTC')

In [ ]:
now_utc

In [ ]:
now_est = now_utc.tz_convert('US/Eastern')

In [ ]:
now_est

There is conversion of TIMESTAMP values from the current time zone to UTC for storage, and back from UTC to the current time zone for retrieval.  By default, the current time zone for each connection is the server's time. This does not occur for other types such as DATETIME.
#### Python **datetime** module

In [ ]:
now = datetime.now()

In [ ]:
now

In [ ]:
now.date()

In [ ]:
now.time()