# Time series

This jupyter notebook can be found on my GitHub account: https://github.com/mbonnemaison/Learning-Python

Sources:
- Python for Data Analysis by Wes McKinney (2nd edition used here) - Chapter 11
- Good overview: https://pandas.pydata.org/docs/user_guide/timeseries.html


## Introduction
Time series is an important form of structured data in neuroscience, physics, ecology, economics, finances. Anything that is observed or measured at many points in time forms a time series.
Different types of time series :
- **Timestamps** : specific instants in time
- Fixed **periods** such as the month of March 2021 or the year 2020
- **Intervals** of time indicated by a start and end timestamp. 
    - *Periods* can be thought of as special cases of intervals
    - *Fixed frequency* consist of data points that occur at regular intervals, like every 5 minutes.

## Dates and time data types and tools
Good places to start when dealing with dates and times: **datetime**, **time** and **calendar** modules.

### **datetime** stores both the date and time down to the microsecond.
Source: https://docs.python.org/3/library/datetime.html#datetime.datetime

In [22]:
from datetime import datetime
dir(datetime)
#from "a file" import "a class contained within the file"
#A class contains functions & information that allows the creation of a new data type.

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'astimezone',
 'combine',
 'ctime',
 'date',
 'day',
 'dst',
 'fold',
 'fromisocalendar',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'now',
 'replace',
 'resolution',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'today',
 'toordinal',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'weekday',
 'year']

In [4]:
datetime(2021, 3, 5, 23, 45, 12)

datetime.datetime(2021, 3, 5, 23, 45, 12)

In [7]:
now = datetime.now()
now

datetime.datetime(2021, 3, 29, 16, 15, 9, 125622)

In [8]:
type(now)

datetime.datetime

In [9]:
now.year

2021

In [10]:
now.hour

16

In [11]:
now.time()

datetime.time(16, 15, 9, 125622)

In [12]:
now.date()

datetime.date(2021, 3, 29)

### **timedelta** represents the temporal difference between two **datetime** objects

In [17]:
delta = datetime(2021, 3, 23, 20, 0, 12) - datetime(2021, 3, 1, 20, 0, 11)
delta

datetime.timedelta(days=22, seconds=1)

You can add a **timedelta** to a datetime object to yield a new shifted object.

In [18]:
from datetime import timedelta

In [20]:
start = datetime(2021, 4, 13, 12, 0, 0)

In [21]:
start + timedelta(10)

datetime.datetime(2021, 4, 23, 12, 0)

### Convert dates to strings
**datetime** objects and pandas **Timestamp** objects can be converted into strings using **str** or the **strftime** method passing a format specification.

In [31]:
stamp = datetime(2021, 4, 13, 4)
stamp

datetime.datetime(2021, 4, 13, 4, 0)

In [25]:
type(stamp)

datetime.datetime

In [26]:
str(stamp)

'2021-04-13 00:00:00'

In [35]:
stamp.strftime('%Y-%m-%d, %H')

'2021-04-13, 04'

### Convert from strings to dates
**Methode #1**: Strings can be converted to dates using **datetime.strptime**.

Note: Information on format can be found here: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior)

In [36]:
today = '2021-04-13'

In [38]:
type(today)

str

In [40]:
datetime.strptime(today, '%Y-%m-%d')

datetime.datetime(2021, 4, 13, 0, 0)

In [2]:
date_list_str = ['2021-03-14', '2020-12-25', '2025-02-19']

In [42]:
[datetime.strptime(x, '%Y-%m-%d') for x in date_list_str]

[datetime.datetime(2021, 3, 14, 0, 0),
 datetime.datetime(2020, 12, 25, 0, 0),
 datetime.datetime(2025, 2, 19, 0, 0)]

**Methode #2**: Strings can be converted to dates using **pd.to_datetime**.

**pandas** is generally oriented toward working with arrays of dates, whether used as an axis index or a column in a DataFrame. The **to_datetime** method parses many different kinds of date representations.

Note: Information on format can be found here: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior)

In [1]:
import pandas as pd

In [3]:
pd.to_datetime(date_list_str)

DatetimeIndex(['2021-03-14', '2020-12-25', '2025-02-19'], dtype='datetime64[ns]', freq=None)

**pandas** also handles values that should be missing (None, empty string, etc.)

In [48]:
date_list_str = ['2021-03-14', '2020-12-25', '2025-02-19', None]

In [49]:
pd.to_datetime(date_list_str)

DatetimeIndex(['2021-03-14', '2020-12-25', '2025-02-19', 'NaT'], dtype='datetime64[ns]', freq=None)

**NaT** means Not a Time

In [50]:
#Find out what the items are within the list
date_list_str[0]

'2021-03-14'

In [51]:
#Find out if there is a null value within the list
pd.isnull(date_list_str)

array([False, False, False,  True])

## Time Series Basics
A kind of time series object in pandas is a **Series indexed by timestamps**, which is often represented external to pandas as Python strings or datetime objects.

2 methods to build a time Series:

**Method #1: using datetime**

In [3]:
from datetime import datetime

In [4]:
dates = [
    datetime(2021, 3, 14),
    datetime(1986, 10, 23),
    datetime(1987, 2, 19),
    datetime(2020, 6, 2)
]

In [22]:
ts = pd.Series([2,3,4,5], index = dates)
ts

In [24]:
# These datetime objects have been put in a DatetimeIndex
ts.index

DatetimeIndex(['2021-03-14', '1986-10-23', '1987-02-19', '2020-06-02'], dtype='datetime64[ns]', freq=None)

**Method #2: using to_datetime**

In [32]:
dates2 = [pd.to_datetime('2021-3-14'), pd.to_datetime('2021-3-15'), pd.to_datetime('2021-3-16'), pd.to_datetime('2021-3-17'), pd.to_datetime('2021-3-18'), pd.to_datetime('2021-3-19'), pd.to_datetime('2021-3-20'), pd.to_datetime('2021-3-21'), pd.to_datetime('2021-3-22')]

In [34]:
ts2 = pd.Series(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'], index = dates2)
ts2

2021-03-14    a
2021-03-15    b
2021-03-16    c
2021-03-17    d
2021-03-18    e
2021-03-19    f
2021-03-20    g
2021-03-21    h
2021-03-22    i
dtype: object

In [35]:
ts2.index

DatetimeIndex(['2021-03-14', '2021-03-15', '2021-03-16', '2021-03-17',
               '2021-03-18', '2021-03-19', '2021-03-20', '2021-03-21',
               '2021-03-22'],
              dtype='datetime64[ns]', freq=None)

### Select rows with a DateTime Index

To select the wanted rows, it is possible to enter a string that has an interpretable as a date.

Methods to select the wanted rows:

**Method #1**: using the indexing method

In [36]:
ts2['2021/03/15']

'b'

In [45]:
ts2['2021/03']

2021-03-14    a
2021-03-15    b
2021-03-16    c
2021-03-17    d
2021-03-18    e
2021-03-19    f
2021-03-20    g
2021-03-21    h
2021-03-22    i
dtype: object

For the next examples, we will use:
- **NumPy** (another Python library) to generate random numbers
- the function **date_range** to generate an index containing list of dates with fixed frequency (more information can be found here: https://pandas.pydata.org/docs/reference/api/pandas.date_range.html?highlight=date_range#pandas.date_range)

Notes on date_range: 
- by default, date_range generates daily timestamps. Examples of frequencies: freq = '2H'; freq = '1h30min'; freq = 'WOM-3FRI' (to get the 3rd Friday of each month); freq = 'M' (per month)
- If you pass only a start or end date, you must pass a number of periods to generate.

In [5]:
#Use numpy to generate random numbers for example
import numpy as np

In [76]:
long_ts = pd.Series(np.random.randn(150), index = pd.date_range('1/1/2021', periods = 150))
long_ts.index

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10',
               ...
               '2021-05-21', '2021-05-22', '2021-05-23', '2021-05-24',
               '2021-05-25', '2021-05-26', '2021-05-27', '2021-05-28',
               '2021-05-29', '2021-05-30'],
              dtype='datetime64[ns]', length=150, freq='D')

In [48]:
long_ts['2021/03']

2021-03-01   -1.562429
2021-03-02   -1.843084
2021-03-03   -1.352276
2021-03-04   -0.578383
2021-03-05   -0.062335
2021-03-06   -1.312603
2021-03-07    0.512234
2021-03-08   -1.948145
2021-03-09    0.062856
2021-03-10    0.273447
2021-03-11   -0.577307
2021-03-12   -0.428555
2021-03-13   -0.450603
2021-03-14   -2.813085
2021-03-15   -1.003202
2021-03-16    1.197935
2021-03-17    0.899049
2021-03-18    0.031791
2021-03-19    1.572107
2021-03-20   -1.527262
2021-03-21    0.770378
2021-03-22    0.403690
2021-03-23    0.274995
2021-03-24   -1.013808
2021-03-25    0.135519
2021-03-26   -0.637773
2021-03-27   -0.496534
2021-03-28    1.048444
2021-03-29    0.392953
2021-03-30    1.013880
2021-03-31    0.974621
Freq: D, dtype: float64

In [49]:
long_ts['3/2/2021':'3/12/2021']

2021-03-02   -1.843084
2021-03-03   -1.352276
2021-03-04   -0.578383
2021-03-05   -0.062335
2021-03-06   -1.312603
2021-03-07    0.512234
2021-03-08   -1.948145
2021-03-09    0.062856
2021-03-10    0.273447
2021-03-11   -0.577307
2021-03-12   -0.428555
Freq: D, dtype: float64

In [50]:
long_ts[datetime(2021, 4, 30):]

2021-04-30   -0.187855
2021-05-01    1.492061
2021-05-02    0.909420
2021-05-03    1.668753
2021-05-04   -0.565621
2021-05-05   -0.817174
2021-05-06   -0.899487
2021-05-07   -0.129690
2021-05-08    0.050090
2021-05-09   -1.363592
2021-05-10    0.724330
2021-05-11   -0.872505
2021-05-12   -0.885479
2021-05-13    2.032714
2021-05-14   -1.469228
2021-05-15    0.450530
2021-05-16   -1.423680
2021-05-17   -0.598084
2021-05-18   -0.191743
2021-05-19    1.547031
2021-05-20    0.701601
2021-05-21    1.198371
2021-05-22   -1.723492
2021-05-23    0.772086
2021-05-24   -0.725678
2021-05-25    2.064422
2021-05-26   -0.387128
2021-05-27   -0.088619
2021-05-28   -0.816795
2021-05-29   -0.903469
2021-05-30    0.160761
Freq: D, dtype: float64

**Method #2**: using the truncate method

In [54]:
long_ts.truncate(before='5/1/2021', after = '5/15/2021')

2021-05-01    1.492061
2021-05-02    0.909420
2021-05-03    1.668753
2021-05-04   -0.565621
2021-05-05   -0.817174
2021-05-06   -0.899487
2021-05-07   -0.129690
2021-05-08    0.050090
2021-05-09   -1.363592
2021-05-10    0.724330
2021-05-11   -0.872505
2021-05-12   -0.885479
2021-05-13    2.032714
2021-05-14   -1.469228
2021-05-15    0.450530
Freq: D, dtype: float64

**Method #3**: using the loc method

In [68]:
long_ts.loc['2021/5/1':'2021/5/5']

2021-05-01    1.492061
2021-05-02    0.909420
2021-05-03    1.668753
2021-05-04   -0.565621
2021-05-05   -0.817174
Freq: D, dtype: float64

### These truncation methods also work on DataFrames

In [6]:
long_df = pd.DataFrame(
np.random.randn(40, 4),
index = pd.date_range('1/1/2021', periods = 40),
columns = ['France', "Germany", 'Italy', 'Spain'])
long_df.index

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16',
               '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20',
               '2021-01-21', '2021-01-22', '2021-01-23', '2021-01-24',
               '2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28',
               '2021-01-29', '2021-01-30', '2021-01-31', '2021-02-01',
               '2021-02-02', '2021-02-03', '2021-02-04', '2021-02-05',
               '2021-02-06', '2021-02-07', '2021-02-08', '2021-02-09'],
              dtype='datetime64[ns]', freq='D')

**Method #1**: using the indexing method

In [78]:
long_df['2021/1/5':'2021/1/15']
#long_df['2021/1']

              France   Germany     Italy     Spain
2021-01-05  0.938201 -0.645051  0.320440  0.006237
2021-01-06  0.549780  0.239906 -0.769288  0.663420
2021-01-07  1.396136 -0.221701  0.974311  0.363178
2021-01-08 -0.047124  1.346120 -1.089281  2.127089
2021-01-09 -1.066277  0.563510  0.689497  0.123572
2021-01-10  1.268941 -0.739758  0.729847 -0.172141
2021-01-11 -2.248896  0.895269  0.129787 -0.251032
2021-01-12  0.506893 -0.026248 -0.076986 -0.196845
2021-01-13 -0.157638  0.549719 -0.123321  1.226318
2021-01-14  1.070910 -2.343417  0.055700  0.729173
2021-01-15  1.406574 -0.248273  0.974805 -0.933144

**Method #2**: using the truncate method

In [70]:
long_df.truncate(before='2021/1/6', after='2021/2/2')

              France   Germany     Italy     Spain
2021-01-06  0.549780  0.239906 -0.769288  0.663420
2021-01-07  1.396136 -0.221701  0.974311  0.363178
2021-01-08 -0.047124  1.346120 -1.089281  2.127089
2021-01-09 -1.066277  0.563510  0.689497  0.123572
2021-01-10  1.268941 -0.739758  0.729847 -0.172141
2021-01-11 -2.248896  0.895269  0.129787 -0.251032
2021-01-12  0.506893 -0.026248 -0.076986 -0.196845
2021-01-13 -0.157638  0.549719 -0.123321  1.226318
2021-01-14  1.070910 -2.343417  0.055700  0.729173
2021-01-15  1.406574 -0.248273  0.974805 -0.933144
2021-01-16  0.568680 -1.748677 -0.993043 -1.406153
2021-01-17 -0.011829  2.064026  0.575560  1.813296
2021-01-18  0.948589 -0.142481 -0.302754 -0.588330
2021-01-19 -0.330113  0.813734  0.419538  0.093893
2021-01-20  0.308935  1.220393  1.304385  0.462716
2021-01-21 -0.000739 -0.791869 -0.498596  0.120679
2021-01-22 -0.757319 -0.470665 -0.183461  1.159651
2021-01-23  0.165958  0.176762  0.505333  0.820535
2021-01-24  0.097710 -0.469085  0.373953  0.401570
2021-01-25  0.788506  1.009269 -0.839020  1.451343
2021-01-26 -1.026498 -0.382674  0.460702 -0.876633
2021-01-27 -1.119526  0.159859 -0.550852 -0.534243
2021-01-28  0.744020  0.484180 -1.736253 -2.135338
2021-01-29 -0.161268 -0.229571 -0.564591 -0.452084
2021-01-30 -0.519070 -2.044634 -0.797183  0.394560
2021-01-31 -1.607461 -0.022947 -0.571406  0.339833
2021-02-01  1.301387 -2.168552 -0.019654  0.466757
2021-02-02 -0.142439  0.374614 -0.546505 -0.094675

**Method #3**: using the loc method.
*The advantage with the loc method is that we can select columns too.*

In [8]:
long_df.loc['2021/2']
#long_df.loc['2021/2', ['Germany']]
#long_df.loc['2021/2', ['Germany', 'Italy']]

              France   Germany     Italy     Spain
2021-02-01 -1.361422 -1.023179  0.194414 -1.255040
2021-02-02  1.264894 -0.052846 -1.034230 -0.891735
2021-02-03  0.140424  1.126277 -0.250533 -1.739511
2021-02-04  0.516664  1.575196 -0.547821 -0.246290
2021-02-05  1.343439 -0.739778 -0.360393  0.285878
2021-02-06  0.496274  1.695863  1.096372  1.038212
2021-02-07 -0.337252  0.160098 -2.456647  1.250130
2021-02-08  0.488935 -0.306664  0.587250 -0.157335
2021-02-09 -0.060364  0.519968 -0.579234 -0.542373

### Shifting data using date increments

**Method #1:** using the shift method

"Shifting" refers to moving data backward or forward through time. Both Series and DataFrame have a *shift* method for doing naive shifts forward or backward, leaving the index unmodified.c

In [11]:
myshift = pd.Series(np.random.randn(4), index = pd.date_range('4/1/2021', periods = 4, freq = '5h'))
myshift

2021-04-01 00:00:00    2.236700
2021-04-01 05:00:00   -1.080059
2021-04-01 10:00:00    1.247151
2021-04-01 15:00:00   -0.585448
Freq: 5H, dtype: float64

In [13]:
myshift.shift(2)

2021-04-01 00:00:00         NaN
2021-04-01 05:00:00         NaN
2021-04-01 10:00:00    2.236700
2021-04-01 15:00:00   -1.080059
Freq: 5H, dtype: float64

In [14]:
myshift.shift(-3)

2021-04-01 00:00:00   -0.585448
2021-04-01 05:00:00         NaN
2021-04-01 10:00:00         NaN
2021-04-01 15:00:00         NaN
Freq: 5H, dtype: float64

To avoid discarding data, we can also use shift to advance the data and the timestamps.

In [19]:
myshift.shift(2, freq = 'Y')

2022-12-31 00:00:00    2.236700
2022-12-31 05:00:00   -1.080059
2022-12-31 10:00:00    1.247151
2022-12-31 15:00:00   -0.585448
dtype: float64

**Method #2:** using the offsets module
For simplicity, we import the classes we want from the pandas.tseries.offsets module.

For information:
- pandas = library
- tseries = package in pandas
- offsets = module in tseries
- Day and MonthEnd are classes in offsets

In [38]:
from pandas.tseries.offsets import Day, MonthEnd
#dir(pd.tseries.offsets)

In [30]:
mydate = datetime(2021, 1, 23)
mydate

datetime.datetime(2021, 1, 23, 0, 0)

In [36]:
mydate + 3*Day(2)

Timestamp('2021-01-29 00:00:00')

In [35]:
mydate + MonthEnd(-3)

Timestamp('2020-10-31 00:00:00')

In [39]:
myoffset = MonthEnd()

In [40]:
myoffset.rollforward(mydate)

Timestamp('2021-01-31 00:00:00')

In [44]:
myoffset.rollback(mydate)

Timestamp('2020-12-31 00:00:00')

In [45]:
long_df

              France   Germany     Italy     Spain
2021-01-01 -0.630610 -0.068817  1.090217  1.712796
2021-01-02  0.948677  0.539222 -1.041701  0.507396
2021-01-03 -0.366887 -0.430667 -1.531266  1.546583
2021-01-04  0.910012  1.189580  1.787205 -0.263205
2021-01-05 -1.797674 -1.619345  0.676251  0.001739
2021-01-06  0.321533  1.940423  0.837839  0.210828
2021-01-07 -0.465830  1.854119 -0.017738 -0.394126
2021-01-08  1.196111  1.160710 -0.364169  0.095471
2021-01-09 -0.031656  2.074876 -1.142208  0.134514
2021-01-10 -0.693052  0.010603 -0.234759 -0.006515
2021-01-11  0.555131  0.250231  0.705061 -0.688773
2021-01-12  1.511071 -0.724379  0.269705 -0.060208
2021-01-13 -0.537823 -1.874160  0.279368  1.114617
2021-01-14 -1.100073 -1.049586  0.974494  0.895851
2021-01-15  0.372660  1.067217  1.438003  1.025293
2021-01-16  0.262412  0.233475  0.462401 -0.244198
2021-01-17  0.280454 -0.118261 -0.708141  1.556299
2021-01-18 -0.696480 -0.766690 -0.604915  2.468022
2021-01-19  0.911998 -1.525033  0.393840  0.197824
2021-01-20  0.536905  0.143039  2.063069 -0.128154
2021-01-21 -0.775177 -0.163104  1.496794  0.090258
2021-01-22  0.629372 -0.149614 -0.593982 -0.218215
2021-01-23  0.706435 -1.060659 -0.683110 -0.255668
2021-01-24 -0.134056  0.096094  0.836142 -0.503351
2021-01-25  0.468197  1.130265  1.658072 -1.115328
2021-01-26 -0.127012  0.216278  1.197741  0.870062
2021-01-27 -0.779059 -0.741032  1.430088  2.089024
2021-01-28  0.162906  1.154336 -0.500293 -0.694197
2021-01-29 -0.732852 -0.065586 -0.464732 -0.019343
2021-01-30  0.071081  0.100813 -0.812975 -1.847061
2021-01-31 -0.493764  0.118034 -0.929303 -1.101637
2021-02-01 -1.361422 -1.023179  0.194414 -1.255040
2021-02-02  1.264894 -0.052846 -1.034230 -0.891735
2021-02-03  0.140424  1.126277 -0.250533 -1.739511
2021-02-04  0.516664  1.575196 -0.547821 -0.246290
2021-02-05  1.343439 -0.739778 -0.360393  0.285878
2021-02-06  0.496274  1.695863  1.096372  1.038212
2021-02-07 -0.337252  0.160098 -2.456647  1.250130
2021-02-08  0.488935 -0.306664  0.587250 -0.157335
2021-02-09 -0.060364  0.519968 -0.579234 -0.542373

In [46]:
long_df.groupby(myoffset.rollforward).mean()

              France   Germany     Italy     Spain
2021-01-31  0.015579  0.094270  0.257000  0.225052
2021-02-28  0.276844  0.328326 -0.372314 -0.250896

## Periods and period arithmetic
*Periods* represents timespans, like days, months, quarters, or years. The **Period** class represents this data type, requiring a string or an integer and a frequency.

In [54]:
myperiod = pd.Period('2021/1/09', freq = 'Y')
myperiod

Period('2021', 'A-DEC')

In [55]:
myperiod + 5

Period('2026', 'A-DEC')

In [56]:
#To construct ranges of periods:
myrange = pd.period_range('2021/1/1', '2021/12/1', freq = 'M')
myrange

PeriodIndex(['2021-01', '2021-02', '2021-03', '2021-04', '2021-05', '2021-06',
             '2021-07', '2021-08', '2021-09', '2021-10', '2021-11', '2021-12'],
            dtype='period[M]', freq='M')

In [70]:
#The Period index class stores a sequence of periods and can serve as an axis index:
per = pd.Series(np.random.randn(12), index = myrange)
per

### Convert Timestamps to Periods (and Back)
The **date_range** method constructs Timestamps while the **Period** method constructs Periods.

In [65]:
long_ts2 = pd.Series(np.random.randn(15), index = pd.date_range('1/1/2021', periods = 15, freq = 'M'))
long_ts2.index

DatetimeIndex(['2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
               '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31',
               '2022-01-31', '2022-02-28', '2022-03-31'],
              dtype='datetime64[ns]', freq='M')

In [66]:
long_ts2

2021-01-31    0.875776
2021-02-28    0.168509
2021-03-31   -0.258156
2021-04-30    0.609056
2021-05-31    0.761074
2021-06-30   -0.615403
2021-07-31    1.273479
2021-08-31    0.104571
2021-09-30   -0.387281
2021-10-31    0.087257
2021-11-30   -0.111904
2021-12-31    0.186383
2022-01-31    0.614148
2022-02-28   -1.717390
2022-03-31    0.327114
Freq: M, dtype: float64

In [68]:
#To convert Timestamps into Periods:
long_ts2.to_period()

2021-01    0.875776
2021-02    0.168509
2021-03   -0.258156
2021-04    0.609056
2021-05    0.761074
2021-06   -0.615403
2021-07    1.273479
2021-08    0.104571
2021-09   -0.387281
2021-10    0.087257
2021-11   -0.111904
2021-12    0.186383
2022-01    0.614148
2022-02   -1.717390
2022-03    0.327114
Freq: M, dtype: float64

In [69]:
long_ts2

2021-01-31    0.875776
2021-02-28    0.168509
2021-03-31   -0.258156
2021-04-30    0.609056
2021-05-31    0.761074
2021-06-30   -0.615403
2021-07-31    1.273479
2021-08-31    0.104571
2021-09-30   -0.387281
2021-10-31    0.087257
2021-11-30   -0.111904
2021-12-31    0.186383
2022-01-31    0.614148
2022-02-28   -1.717390
2022-03-31    0.327114
Freq: M, dtype: float64

In [72]:
per

2021-01   -1.686917
2021-02    0.787402
2021-03   -1.394935
2021-04    0.417148
2021-05   -0.170850
2021-06   -0.147302
2021-07    0.715388
2021-08   -0.054517
2021-09    0.109884
2021-10   -0.866299
2021-11    0.451536
2021-12    1.054915
Freq: M, dtype: float64

In [71]:
#To convert Periods into Timestamps:
per.to_timestamp()

2021-01-01   -1.686917
2021-02-01    0.787402
2021-03-01   -1.394935
2021-04-01    0.417148
2021-05-01   -0.170850
2021-06-01   -0.147302
2021-07-01    0.715388
2021-08-01   -0.054517
2021-09-01    0.109884
2021-10-01   -0.866299
2021-11-01    0.451536
2021-12-01    1.054915
Freq: MS, dtype: float64

## Resampling and frequency conversion
*Resampling* refers to the process of converting a time series from one frequency to another:
- *Downsampling*: Converting lower frequency to higher frequency;
- *Upsampling*: Converting higher frequency to lower frequency.

pandas objects are equipped with a **resample** method. It works similarly to groupby, i.e. you call resample to group the data, then call an aggregation function.

For more information on the resample method: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.resample.html?highlight=resample#pandas.DataFrame.resample

In [77]:
long_ts

2021-01-01   -0.987953
2021-01-02    1.629270
2021-01-03    0.888600
2021-01-04   -0.684234
2021-01-05    0.289026
                ...
2021-05-26   -1.409447
2021-05-27   -0.685541
2021-05-28    1.963948
2021-05-29   -1.314365
2021-05-30   -1.244985
Freq: D, Length: 150, dtype: float64

In [79]:
long_ts.resample('M').mean()

2021-01-31    0.189336
2021-02-28    0.261929
2021-03-31   -0.200218
2021-04-30   -0.132223
2021-05-31   -0.115610
Freq: M, dtype: float64

In [80]:
long_ts.resample('M', kind = 'period').mean()

2021-01    0.189336
2021-02    0.261929
2021-03   -0.200218
2021-04   -0.132223
2021-05   -0.115610
Freq: M, dtype: float64