# Dates and time data types and tools
Good places to start when dealing with dates and times: **datetime**, **time** and **calendar** modules.

### **datetime** stores both the date and time down to the microsecond.
Source: https://docs.python.org/3/library/datetime.html#datetime.datetime

In [1]:
from datetime import datetime
#from "a file" import "a class contained within the file"
#A class contains functions & information that allows the creation of a new data type.

In [13]:
datetime(2021, 3, 5)

datetime.datetime(2021, 3, 5, 0, 0)

In [2]:
now = datetime.now()

In [3]:
now

datetime.datetime(2021, 3, 23, 21, 51, 30, 454673)

In [4]:
type(now)

datetime.datetime

In [5]:
now.year

2021

In [6]:
now.hour

21

In [8]:
now.time()

datetime.time(21, 51, 30, 454673)

In [9]:
now.date()

datetime.date(2021, 3, 23)

### **timedelta** represents the temporal difference between two **datetime** objects

In [13]:
delta = datetime(2021, 3, 23) - datetime(2021, 3, 1, 22)

In [14]:
delta

datetime.timedelta(days=21, seconds=7200)

### Convert from string to datetime
**datetime** objects and pandas **Timestamp** objects can be converted using **str** or the **strftime** method passing a format specification.

In [15]:
stamp = datetime(2021, 4, 13)

In [16]:
stamp

datetime.datetime(2021, 4, 13, 0, 0)

In [17]:
type(stamp)

datetime.datetime

In [18]:
str(stamp)

'2021-04-13 00:00:00'

In [20]:
stamp.strftime('%Y-%m-%d')

'2021-04-13'

### Convert from dates to strings
Strings can be converted to dates using **datetime.strptime**.

In [21]:
today = '2021-04-13'

In [22]:
type(today)

str

In [23]:
datetime.strptime(today, '%Y-%m-%d')

datetime.datetime(2021, 4, 13, 0, 0)

In [25]:
date_list_str = ['2021-03-14', '2020-12-25', '2025-02-19']

In [26]:
[datetime.strptime(x, '%Y-%m-%d') for x in date_list_str]

[datetime.datetime(2021, 3, 14, 0, 0),
 datetime.datetime(2020, 12, 25, 0, 0),
 datetime.datetime(2025, 2, 19, 0, 0)]

**pandas** is generally oriented toward working with arrays of dates, whether used as an axis index or a column in a DataFrame.
The **to_datetime** method parses many different kinds of date representations

In [38]:
import pandas as pd

In [30]:
pd.to_datetime(date_list_str)

DatetimeIndex(['2021-03-14', '2020-12-25', '2025-02-19'], dtype='datetime64[ns]', freq=None)

**pandas** also handles values that should be missing (None, empty string, etc.)

In [31]:
date_list_str = ['2021-03-14', '2020-12-25', '2025-02-19', None]

In [32]:
pd.to_datetime(date_list_str)

DatetimeIndex(['2021-03-14', '2020-12-25', '2025-02-19', 'NaT'], dtype='datetime64[ns]', freq=None)

**NaT** means Not a Time

In [33]:
#Find out what the items are within the list
date_list_str[0]

'2021-03-14'

In [36]:
#Find out if there is a null value within the list
pd.isnull(date_list_str)

array([False, False, False,  True])

### Time Series Basics
A kind of time series object in pandas is a Series indexed by timestamps, which is often represented external to pandas as Python strings or datetime objects.

In [35]:
import datetime as dt

In [40]:
#Use numpy to generate random numbers for example
import numpy as np

In [37]:
dates = [
    dt.datetime(2021, 3, 14),
    dt.datetime(1986, 10, 23),
    dt.datetime(1987, 2, 19),
    dt.datetime(2020, 6, 2)
]

In [47]:
ts = pd.Series(np.random.randn(4), index = dates)

In [48]:
ts

2021-03-14   -0.670923
1986-10-23   -0.011275
1987-02-19    0.324030
2020-06-02    0.169520
dtype: float64

In [53]:
# These datetime objects have been put in a DatetimeIndex
ts.index

DatetimeIndex(['2021-03-14', '1986-10-23', '1987-02-19', '2020-06-02'], dtype='datetime64[ns]', freq=None)

### Scalar values from a **DateTimeIndex** are pandas **Timestamp** objects
A **timestamp** can be substituted anywhere you would use a **datetime** object. Additionally, it can store frequency information (if any) and understands how to do time zone conversions among other kinds of manipulations.

In [55]:
stamp = ts.index[0]

In [56]:
stamp

Timestamp('2021-03-14 00:00:00')

In [58]:
ts[0]

-0.6709228877004879

In [59]:
ts[stamp]

-0.6709228877004879

In [60]:
longer_ts = pd.Series(np.random.randn(1000), index = pd.date_range('1/1/2000', periods = 1000))

In [61]:
longer_ts

2000-01-01   -0.095327
2000-01-02    0.234475
2000-01-03    0.282844
2000-01-04   -1.736852
2000-01-05    2.801523
                ...
2002-09-22   -0.505221
2002-09-23    1.352736
2002-09-24   -1.221517
2002-09-25   -0.979260
2002-09-26   -0.422253
Freq: D, Length: 1000, dtype: float64